body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
}
img{
    color: aliceblue;
    border-radius: 20%;
    height: 10rem;
    position: relative;
    align-items: center;   
}
.cabeca{
    color: aliceblue;
    display: flex;
    position: relative;
   gap: 1rem;
   left: 50rem;
    /* left: 8rem;
    top: 2rem; */
}
.inicio{
    color: aliceblue;
    position: relative;
    left: 40rem;
}
.listasstyle{
    color: aliceblue;
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 24rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 45rem;
}
.listasstyleposition{
    color: aliceblue;
    position: relative;
    left: 13rem;
    top: -21rem;
    left: 48rem;
}
.fine_art{
    position: relative;
    top: -10rem;
}
.fine_art{
    
    color: rgb(255, 255, 255);
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 30rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 24rem;
    top: -36.5rem;
}
.oqéfotografia{
    position: relative;
    top: -10rem;
}
.oqéfotografia{
    color: aliceblue;
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 24rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 66rem;
    top:-66.5rem
}
.camerasinicial{
        position: relative;
        top: -10rem;
}
.camerasinicial{
    color: aliceblue;
    position: relative;
    top:-83rem;
    left: 67rem;
}
.cameras{
    color: aliceblue;
    position: relative;
    top:-87rem;
    left: 48rem;
}