*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
img{
    width: 7rem;
    border-radius: 20%;
}
.cabeca{
    display: flex;
    gap: 0.5rem;
}
.texto{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.parte1{
     color:rgb(255, 255, 255) ;
     display: flex;
    flex-direction: column;  
}
.parte2{
    justify-content: space-around ;
    margin: auto;
    width: 80%;
    display:flex ;
}
.parte2 div{
    text-align: center;
    border-radius: 2rem;
    color: aliceblue;
    background-color: rgba(20, 19, 19, 0.815);
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    padding: 2.5rem;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
}
ol{
    list-style: none;
}
@media (max-width:1600px) {
    .parte2 div{
        width: 30%;
    }
    
}
@media (max-width:1160px) {
    .parte2{
        
    }
    
}






















































/* body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
}
img{
    color: aliceblue;
    border-radius: 20%;
    height: 10rem;
    position: relative;
    align-items: center;   
}
.cabeca{
    color: aliceblue;
    display: flex;
    position: relative;
   gap: 1rem;
   left: 50rem;
}
.inicio{
    color: aliceblue;
    position: relative;
    left: 40rem;
}
.listasstyle{
    color: aliceblue;
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 24rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 45rem;
}
.listasstyleposition{
    color: aliceblue;
    position: relative;
    left: 13rem;
    top: -21rem;
    left: 48rem;
}
.fine_art{
    position: relative;
    top: -10rem;
}
.fine_art{
    
    color: rgb(255, 255, 255);
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 30rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 24rem;
    top: -36.5rem;
}
.oqéfotografia{
    position: relative;
    top: -10rem;
}
.oqéfotografia{
    color: aliceblue;
    text-align: center;
    left: 10rem;
    background-color: rgba(24, 20, 20, 0.561);
    height: 24rem;
    width: 20rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15%;
    left: 66rem;
    top:-66.5rem
}
.camerasinicial{
        position: relative;
        top: -10rem;
}
.camerasinicial{
    color: aliceblue;
    position: relative;
    top:-83rem;
    left: 67rem;
}
.cameras{
    color: aliceblue;
    position: relative;
    top:-87rem;
    left: 48rem;
} */