*{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
}
body{
    width: 100%;
    display:flex ;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.head2{
    left: 50rem;
    position: relative;
    text-align: center;
    gap: 1rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
    width: 15%;
    padding: 0.0.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 13, 13);
}
.Photos{
    gap: 0.4rem;
    justify-content: center;
    display: flex;
    width: 100%;
}
img{
    gap: 1rem;
    width: 11.9%;
}
video{
    gap: 1rem;
    width: 11.9%;
}
.video{
    position: relative;
    left: 1.5rem;
    gap: 0.4rem;
   
    display: flex;
    width: 100%;
}