*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
img{
    width: 7rem;
    border-radius: 30%;
}
h1{
    margin-left: 20%;
}
.cabeca{
    display: flex;
    gap: 0.5rem;
}
.texto{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.parte1{
     color:rgb(255, 255, 255) ;
     display: flex;
    flex-direction: column;  
}
.parte2{
    justify-content: space-around ;
    margin: auto;
    width: 80%;
    display:flex ;
}
.parte2 div{
    text-align: center;
    border-radius: 2rem;
    color: aliceblue;
    background-color: rgba(20, 19, 19, 0.815);
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    padding: 2.5rem;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
}
ol{
    list-style: none;
}
@media (max-width:1600px) {
    .parte2 div{
        width: 30%;
    }
    
}
@media (max-width:1160px) {
    .parte2{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .parte2 div{
        width: 50%;
    }
}
@media (max-width:790px) {
    .parte2 div{
        width: 60%;
    }
}
@media (max-width:460px) {
    .parte2 div{
        width: 100%;
    }
    
}
